
# OPTIONS --------------------------------------
#   to support Post processing of Yolov5 results
# 1. MongoDB
# 2. Excel conversion
# 3. Web REST API for UI and web services

# Mongo
pymongo

# Excel
xlwt
openpyxl

# Flask
flask

# Media (Images/Video meta data accessor)
tinytag

# HTTP
requests

# Load Env file
python-dotenv

